<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopmentRegion</key>
	<string>Chile</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>Version</key>
	<string>3.0</string>
	<key>Name</key>
	<string>YCLMazes 1</string>
	<key>DeploymentTarget</key>
	<string>ios11.2</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>ContentIdentifier</key>
	<string>cl.yurai.games.3d.playgrounds.Mazes1.mazes</string>
	<key>Chapters</key>
	<array>
		<string>Introduction.playgroundchapter</string>
	</array>
</dict>
</plist>
